<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Proxy</span></strong>.
    </div>
    <div class="credits">
      Designed by <a>proxy</a>
    </div>
  </div>
</footer>