<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
     <a class="logo me-auto" href="/">Proxy</a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Uy</a></li>
          <li><a class="nav-link scrollto" href="/about">Proxy va Vpn</a></li>
          <li><a class="nav-link   scrollto" href="/Proxy">Proxydan foydalanish</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>
