<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>


    {{> loading}}

    <div class="wrapper">
     
        {{> navbar}}
        {{{body}}}
    </div>

    {{> footer}}
    {{> script}}

</body>

</html>