<!-- ======= Header ======= -->
 
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>about</li>
        </ol>
        <h2>About Page</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <h3> <a href="https://www.terabayt.uz/uz/post/ozbekistonda-vpn-va-proxy-dan-foydalanganlik-uchun-jazo-belgilandimi">Manba </a></h3>
        <h2 class="clasH2">O‘zbekistonda <a href="/vpn">VPN</a> va Proxy’dan foydalanganlik uchun jazo belgilandimi?</h2>
      <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-9">
          <div class="imgProxy">
            <img src="https://static.terabayt.uz/crop/s/2/728_410_M-7ML-b6-EemsBnAokLBwVB371_So7rH.jpg" alt="">
          </div>
          <div class="row">
            <p class="Pclass">2018 yilning 22 oktyabrida «O‘zbekiston Respublikasining ayrim  <a href="https://xs.uz/uzkr/post/qonun503">qonun</a> hujjatlariga jamoat xavfsizligini ta’minlashga qaratilgan o‘zgartish va qo‘shimchalar kiritish to‘g‘risida» Qonun qabul qilindi. Unda, jumladan, «telekommunikatsiya tarmog‘idan qonunga xilof ravishda (ruxsatsiz) foydalanganlik» masalasiga tegishli o‘zgartishlar ham bor. Xo‘sh, bunda VPN yoki proksidan foydalanish ko‘zda tutilganmi?</p>
          </div>

          <div class="row mt-2">
            <div class="h2">O‘QING: <a href="/vpn">VPN nima o‘zi?</a></div>
          </div>
         <h4 class="mt-2">VPN VA PROXY JINOIY VA MA’MURIY SANKSIYaLAR OSTIGA TUShADIMI</h4>
         <p class="Pclass">
           Jinoyat kodeksi va Ma’muriy javobgarlik to‘g‘risidagi kodeksning telekommunikatsiya tarmog‘idan qonunga xilof ravishda (ruxsatsiz) foydalanganlik uchun 5 yilgacha ozodlikdan mahrum qilish nazarda tutilgan yangi moddalarini ko‘rib chiqamiz (22.10.2018 sanasidagi  <a href="https://xs.uz/uzkr/post/qonun503">O‘RQ–503-son</a> Qonun).
         </p>
         <div class="row mt-2">
           <p>Avvaliga MJTKning yangi 155-2-moddasidagi huquqbuzarlik tavsifi bilan tanishib chiqamiz. U qisqacha bayon etilgan – «telekommunikatsiya tarmog‘idan qonunga xilof ravishda (ruxsatsiz) foydalanish, jinoyat alomatlari mavjud bo‘lmagan taqdirda».</p>
         </div>
         <div class="row mt-2">
           <p>Endi telekommunikatsiyalar tarmog‘i deganda nimalar tushunilishini aniqlab olamiz.  <a href="https://nrm.uz/contentf?doc=30737_o%E2%80%98zbekiston_respublikasining_20_08_1999_y_822-i-son_telekommunikaciyalar_to%E2%80%98g%E2%80%98risidagi_qonuni&products=1_">«Telekommunikatsiyalar to‘g‘risida»</a>gi Qonunning 2-moddasida ushbu atamaga ta’rif berilgan – uzatishlarning bir yoki bir necha turini: telefon, telegraf, faksimil turlarini, ma’lumotlar uzatish va hujjatli xabarlarning boshqa turlarini, televizion va radioeshittirish dasturlarini translyasiya qilishni ta’minlovchi telekommunikatsiya vositalarining majmui. «Aloqa to‘g‘risida»gi Qonunning 2-moddasida ham xuddi shu ta’rif qayd etilgan. Telekommunikatsiyalar tarmog‘iga yorqin misol – Internet jahon axborot tarmog‘i.</p>
         </div>
         <div class="row mt-2">
           <p>Bu jihatga oydinlik kiritdik. Endi esa «foydalanish» atamasi, uning «ulanish»dan nimasi bilan farqlanishini aniqlab olamiz. Gap shundaki, telekommunikatsiya tarmog‘idan foydalanish uchun o‘zining oxirgi asbob-uskunasini bevosita elektr aloqasi tarmog‘iga ulash zarur. Foydalanuvchining umumiy foydalanishdagi tarmoqlar xizmatlaridan foydalanish huquqi <a href="https://nrm.uz/contentf?doc=30737_o%E2%80%98zbekiston_respublikasining_20_08_1999_y_822-i-son_telekommunikaciyalar_to%E2%80%98g%E2%80%98risidagi_qonuni&products=1_">«Telekommunikatsiyalar to‘g‘risida»</a>gi Qonunning 23-moddasida belgilangan. To‘g‘ri, buni o‘zboshimchalik bilan (operator yoki provaydersiz) amalga oshirishga ruxsat berilmaydi. MJTKning 151-moddasida hatto bunday harakatlar uchun qurilmani musodara qilib (yoki musodara qilmay) 3 EKIHgacha jarima solinishi qayd etilgan. Ushbu modda 1998 yildan boshlab, ya’ni 20 yildan buyon amal qiladi. Shu sababli bu borada yangilik kiritilmadi.</p>
         </div>
         <div class="row mt-2">
           <p>Ulanishdan farqli ravishda foydalanish – foydalanuvchining elektr aloqasi tarmog‘iga ulangan telekommunikatsiya tarmog‘idan foydalanishi. Shu tariqa, yangi huquqbuzarlik shaxsning bunga huquqi bo‘lmaganda («o‘chirilgan», «blokirovkalangan») yoxud u cheklanganda (foydalanish darajasi bo‘yicha huquqi) telekommunikatsiyalar tarmog‘idan qonunga xilof ravishda foydalanishini anglatadi. Axborot kommunikatsiyalari vazirligi hatto fuqarolarning bepul telefon aloqasi yoki Internetdan foydalanish kalitini buzib, qo‘shnilarining telefon liniyasi yoki Wi-Fi tarmog‘iga ulangan holda noqonuniy foydalanishini misol qilib keltirdi. Buning uchun huquqbuzarlik sodir etish quroli musodara qilingan holda fuqarolar – 10 EKIHdan 20 EKIHgacha, mansabdor shaxslar esa 20 EKIHdan 50 EKIHgacha jarima to‘laydilar.</p>
         </div>
         <div class="row mt-2">
           <p>Qachon qonunga xilof ravishda (ruxsatsiz) foydalanishga jinoyat deb qaraladi? Buning uchun harakatdan ko‘zlangan maqsad o‘rganiladi. Uning majburiy elementi – o‘rnatilgan himoya tizimlarini chetlab o‘tgan holda xalqaro trafikni o‘tkazish. Ya’ni bir nechta davlatning telekommunikatsiya tarmoqlari o‘rtasida ushbu himoyani chetlab o‘tgan holda ma’lumotlar uzatilishi kerak. Axborot kommunikatsiyalari vazirligi o‘z tushuntirishlarida xalqaro telefon tarmog‘ini chetlab o‘tgan holda trafikni o‘tkazish yo‘li bilan nolegal xalqaro telefon aloqasini tashkil etish uchun Internetdan foydalanganda GSM, IP va SMS-shlyuzlar (tarmoqlar o‘rtasidagi «o‘tkazgichlar») qo‘llanilishini misol tariqasida ko‘rsatib o‘tdi.</p>
         </div>
         <div class="row mt-2">
           <p>Internet-hamjamiyatni VPN va proksi-serverlar bo‘yicha nimalar taajjubga soldi? Axborot kommunikatsiyalari vazirligi aniqlashtirishicha, yangiliklar virtual xususiy tarmoqlar (Virtual Private Network, VPN) va proksi-serverlarga (proxy server) daxl etmaydi. Biroq ularning ishlash texnologiyasi – foydalanuvchi o‘zining IP-manzili ostida emas, balki VPN serveri yoxud proksi-server manzili ostida xalqaro internet-trafikda ishtirok etishi bir qarashda yangi modda dispozitsiyasiga mos keladi – xalqaro trafik ayrim internet-resurslarni blokirovkalash tizimini chetlab o‘tgan holda o‘tkaziladi (ayrim resurslardan foydalanishni cheklash tartibi haqida –  <a href="https://www.norma.uz/qonunchilikda_yangi/taqiqlangan_ahboroti_bulgan_saytlar_qanday_cheklanadi">bu yerda</a>).</p>
         </div>
         <div class="row mt-2">
           <p>Shu bilan birga, fikrimizcha, bunda axborot resurslaridan foydalanish va telekommunikatsiya tarmog‘idan foydalanishni farqlash darkor. Moddada uning alohida qismi – internet-sayt, fayl va boshqalardan emas, balki umuman telekommunikatsiya tarmog‘idan qonunga xilof ravishda (ruxsatsiz) foydalanish uchun javobgarlik nazarda tutilgan. Buning ustiga, VPN va Proxy qo‘llanganda xalqaro trafik telekommunikatsiya tarmog‘ining o‘zidagi asosiy himoya tizimlari orqali o‘tadi, provayder esa ushbu trafikni tariflash imkoniga ega. Shu sababli JKning 278-7-moddasi VPN va Proxy qo‘llanilishiga nisbatan tatbiq etilmasligi kerak.</p>
         </div>
         <div class="row mt-2">
           <p><span class="SpanMuhim"> Bu – muhim!</span> VPN va Proxy qo‘llanilishi boshqa jinoyatlar ob’yektiv tomonining bir qismi deb tan olinishi mumkin. Masalan, milliy, irqiy, etnik yoki diniy adovatni targ‘ib qiluvchi materiallarni tayyorlash, saqlash yoki tarqatish (MJTKning 184-3-moddasi va JKning 156-moddasi).</p>
         </div>
         <div class="row mt-2">
           <p>Shuningdek telekommunikatsiya tarmog‘idan qonunga xilof ravishda (ruxsatsiz) foydalanish uchun mo‘ljallangan maxsus dasturiy yoki apparat vositalari ham qonun bilan ta’qib qilinadigan bo‘ldi. Ularni saqlaganlik va faoliyat ko‘rsatishi uchun sharoitlar yaratganlik uchun ham jinoiy javobgarlik belgilandi.</p>
         </div>
         <div class="row mt-2">
           <p>JKning yangi moddasida sanksiyalar qamrovi katta – 100 EKIH miqdoridagi jarimadan tortib 5 yilgacha ozodlikdan mahrum qilishgacha.</p>
         </div>
         <div class="row mt-2">
           <p><span class="SpanMuhim"> NORMA.UZ</span> tahririyatidan: Maqola muallifining fikri huquqni muhofaza qiluvchi organlarning pozitsiyasiga mos kelmasligi mumkin. Qonunlarni rasman talqin qilish huquqi Konstitutsiyaviy sudga tegishli. Oliy sud ham huquq normalarini qo‘llash yuzasidan tushuntirishlar berishga haqli.</p>
         </div>
         <div class="row mt-2">
          <h2 class="under">Tuzatishlar «Xalq so‘zi» gazetasida e’lon qilingan va 23.10.2018 sanasidan kuchga kirdi.</h2>
         </div>

        </div>
      </div>
      </div>
    </section>

  </main><!-- End #main -->
