<div class="error">
    <a href="/"><img src="/images/logo.png" alt="png"></a>
    <h1>404. That’s an error.</h1>
    <p>The requested URL /admin was not found on this server.</p>
    <img class="robot" src="//www.google.com/images/errors/robot.png" alt="png">
</div>