<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Proxy Server</h1>
        <h2>Proxy va VPN nima o'zi</h2>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
<main id="main">
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>Proxy server qanday ishlaydi. </h3>
         
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> ish
                  printsipi <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Jismoniy proksist server alohida-alohida server uskunalarini taqdim etadi va foydalanuvchi
                    kompyuterlar va Internet resurslari orasida "vositachi" funktsiyalarini bajaradi. Aksariyat hollarda
                    ish oqimini quyidagicha tasvirlash mumkin
                  </p>
                  <ul>
                    <li>Foydalanuvchi ishonchli vakilga ulanadi va ma'lum manbaga kirish huquqini olish uchun so'rov
                      yuboradi.</li>
                    <li>Proksi-server foydalanuvchi so'rovini o'qiydi va uni yanada yo'naltiradi.</li>
                    <li>Ma'lumot paketlari shaklida javob olgandan so'ng, ular qayta ishlanadi va foydalanuvchining
                      IP-manziliga yo'naltiriladi</li>
                  </ul>
                  <p>Natijada, foydalanuvchi kompyuterining ba'zi identifikatsiya ma'lumotlarini o'zgartirish yoki
                    yashirish, xususan, uning IP-manzilini o'zgartirish mumkin.</p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>
                  ilova maydoni <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>Anonim proksi-serverlar bugungi kunda oddiy foydalanuvchilar va onlayn ishlayotgan odamlar kabi
                    qo'llaniladi. Ular quyidagilarga ruxsat berishadi:</p>
                  <ul>
                    <li>Qulflangan saytlar va xizmatlarga kirish uchun cheklovlar</li>
                    <li> va tarmoqdagi anonimlikni saqlang, xavfsizlik darajasini yaxshilang</li>
                    <li>Internetga ulanish tezligini oshiring</li>
                    <li>SMMni reklama qilish uchun bir vaqtning o'zida bir vaqtning o'zida bir vaqtning o'zida bir
                      nechta hisob qaydnomasini ishlating</li>
                  </ul>
                  <p>Shuningdek, ularga ham shunday deyilgan. Asosiy serverlarga yukni kamaytirish va muvozanatlash
                    uchun ishlatiladigan teskari (Server) proksi, DOS va DDOS hujumlaridan himoya qilish, haqiqiy
                    joylashuv va xususiyatlar haqida ma'lumot berish.</p>

                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>
                  Navlari <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Mavjud ishonchli vakillar uchta guruhga bo'linadi:
                  </p>
                  <ul>
                    <li>Http - http protokol bilan ishlash, veb-sahifalarni ko'rishga, Internetdan fayllarni yuklab
                      olishingizga imkon beradi</li>
                    <li>Paypoqlar - deyarli har qanday tarmoq trafiki bilan ishlang, ular uchun ishlatiladi va dasturlar
                    </li>
                    <li>CGI - brauzer orqali ishlash</li>
                  </ul>
                  <p>O'z navbatida, http-proksi quyidagilarga bo'linadi:</p>
                  <ul>
                    <li>Elita - IPni yashiring va proksi-dan foydalanishning asl mohiyati, maksimal anonimlikni
                      ta'minlang</li>
                    <li>Anonim - faqat IP niqobi, foydalanish fakti yashirmaydi</li>
                    <li>Shaffof - boshqa serverga murojaat qiling yoki boshqa serverga yo'naltiring</li>
                  </ul>
                  <p>Shuningdek, bepul va to'langan proksi-ni farqlang. Ularning orasidagi farqlar anonimlik, ish barqarorligi, kirish, ishonchlilik va chidamlilikning tezligi, texnik yordam mavjudligi darajasida.</p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section>
</main>