<main class="Mainproxy" id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/index">Home</a></li>
        <li>Proxydan foydalanish </li>
      </ol>
      <h2>Proxy </h2>

    </div>
  </section>


  <section id="portfolio-details" class="portfolio-details">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Web sahifa nomini kiriting</h4>
          <form action="/urlsee" method="GET">
            <input class="Websahifa" type="url" name="url" id="url" placeholder="Web sahifa nomini kiriting">
            <button class="btnT" type="submit">Tekshirish</button>
          </form>
        </div>
      </div>

    </div>
  </section>

</main>