<section>
    <div class="container">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/">Home</a></li>
                    <li>VPN</li>
                </ol>
                <h2>VPN Page</h2>

            </div>
        </section>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-8">
                <div class="imgProxy">
                    <img class="vpnimg"
                        src="https://www.pngitem.com/pimgs/m/145-1456373_best-vpn-free-trials-hd-png-download.png"
                        alt="">
                </div>
                <div class="row">
                    <p class="Pclass">Bu atamani ko‘p uchratgansiz, jumladan, bizning saytimizda ham. Ammo uning nima ekanini to‘liq anglab yetmagansiz, to‘g‘rimi?</p>
                </div>
                <div class="row">
                    <p class="Pclass">O‘tkir syujetli xorijiy filmlarda ko‘p guvoh bo‘lganingiz bir sahnani ko‘z oldingizga keltiring: jinoyatchi sport mashinasida katta trassa bo‘ylab qochyapti, uni politsiya vertolyoti ta’qib etib kelmoqda. Avtomobil tunnelga kirib ketadi, undan chiqish joyi esa bir nechta. Vertolyotdagilar jinoyatchining aynan qaysi chiqish joyidan chiqib ketishini bila olishmaydi, natijada u ta’qibdan qochib qoladi.</p>
                </div>
                <div class="row mt-2">
                    <p>O‘tkir syujetli xorijiy filmlarda ko‘p guvoh bo‘lganingiz bir sahnani ko‘z oldingizga keltiring: jinoyatchi sport mashinasida katta trassa bo‘ylab qochyapti, uni politsiya vertolyoti ta’qib etib kelmoqda. Avtomobil tunnelga kirib ketadi, undan chiqish joyi esa bir nechta. Vertolyotdagilar jinoyatchining aynan qaysi chiqish joyidan chiqib ketishini bila olishmaydi, natijada u ta’qibdan qochib qoladi.</p>
                </div>
                <div class="row mt-2">
                    <p>VPN ham xuddi shu kabi, internetdagi bir necha yo‘llarni o‘zaro tutashtiruvchi tunneldir. Unga kirib ketgan avtomobillarning qayerda paydo bo‘lib qolishini tashqaridan hech kim bilolmaydi. Tunelda nimalar bo‘layotganidan tashqaridagilar bexabar qolishadi.</p>
                </div>
                <div class="row mt-2">
                    <p>Ko‘pincha VPN’ni tavsiya etishlariga sabab shuki, unda geografik belgisiga ko‘ra cheklangan kontentga kirish, umuman, internetdan foydalanishda xavfsizlikni oshirish mumkin.</p>
                </div>
                <div class="row mt-2">
                    <p>Lekin internetga VPN orqali kirish ham to‘g‘ridan-to‘g‘ri kirishchalik xavfli bo‘lishi mumkin.</p>
                </div>
                <div class="row mt-2">
                    <h4 class="sahifa">VPN qanday ishlaydi?</h4>
                </div>
                <div class="row mt-2">
                    <p>Uyingizda Wi-Fi-router bo‘lsa kerak, a? Unga ulangan qurilmalar hatto internetsiz ham o‘zaro ma’lumot almasha oladilar. Demak, uyingizda o‘zingizning xususiy tarmog‘ingiz bor ekan, ammo unga ulanish uchun router signali yetadigan yerda bo‘lishingiz talab etiladi.</p>
                </div>
                <div class="row mt-2">
                    <p>VPN (Virtual Private Network) – bu virtual xususiy tarmoq. U internet ustida ishlaydi, shuning uchun unga istalgan joydan ulanish mumkin.</p>
                </div>
                <div class="row mt-2">
                    <p>Masalan, siz ishlaydigan kompaniya masofadan turib ishlaydigan xodimlari uchun virtual xususiy tarmoqdan foydalanishi mumkin. VPN yordamida ular ishchi tarmoqqa ulanadilar. Bunda ularning kompyuter, smartfon yoki planshetlari virtual tarzda ofisga ko‘chiriladi va tarmoqqa ichkaridan ulanadi. Virtual xususiy tarmoqqa ulanish uchun VPN-server manzilini, login va parolni bilish kerak bo‘ladi.</p>
                </div>
                <div class="row mt-2">
                    <p>VPN’dan foydalanish o‘ta oson. Odatda kompaniya qayerdadir lokal kompyuterda, serverda yoki data-markazda VPN-server yaratadi; unga ulanishlar esa foydalanuvchi qurilmasidagi VPN-kliyent dasturi orqali amalga oshiriladi.</p>
                </div>
                <div class="row mt-2">
                    <p>Hozirda barcha ommabop operatsion tizimlar – Android, iOS, Windows, macOS, Linux va boshqalarda VPN-kliyent dasturi avvaldan mavjud</p>
                </div>
                <div class="row mt-2">
                    <p>Kliyent va server orasidagi VPN-ulanish esa, odatga ko‘ra, shifrlangan bo‘ladi.</p>
                </div>
                   <div class="row mt-2">
                    <h4 class="sahifa">Demak, VPN bo‘lgani yaxshimi?</h4>
                </div>
                <div class="row mt-2">
                    <p>Ha, agarda siz biznes sohibi bo‘lib, korporativ ma’lumotlaringiz va servislaringizning xavfsizligini ta’minlashni istasangiz, VPN juda yaxshi narsa. Ish muhitiga xodimlaringizni faqat VPN orqali hamda maxsus akkauntlari bo‘yicha o‘tkazasiz va kim nima qilganiyu qilayotganidan hamisha boxabar bo‘lasiz.</p>
                </div>
                <div class="row mt-2">
                    <p>Bundan tashqari, VPN egasi server va foydalanuvchi o‘rtasida uzatilayotgan barcha trafikni monitoring qilishi va nazorat etib borishi mumkin.</p>
                </div>
                <div class="row mt-2">
                    <p>Xodimlaringiz Feysbuk, Odnoklassniki kabilarda ko‘p o‘tirishadimi? Bu servislarga kirishni yopib qo‘yishingiz mumkin. Ular orasida kimdir o‘z ish kunining yarmini karikaturalar saytida o‘tkazadimi? Uning internetdagi faolligi avtomatik tarzda loglarga yozilib boradi va o‘zini ishdan bo‘shatish uchun dalil bo‘lib xizmat qiladi.</p>
                </div>

                   <div class="row mt-2">
                    <h4 class="sahifa">Ishdan tashqarida ham VPN’dan foydalansa bo‘ladimi?</h4>
                </div>
                <div class="row mt-2">
                    <p>Ha. VPN-xizmatlarning eng keng tarqalgan ko‘rinishi bepul ommaviy servislar hisoblanadi. Google Play, App Store va internet kengliklarida bunaqalari tiqilib yotibdi. Ular bepul VPN taqdim etishadi va u bilan bog‘liq bo‘lgan barcha xarajatlarni o‘zlari ko‘tarishadi. Jumladan, data-markaz xizmatlari to‘lovi, qulay ilovani ishlab chiqish xarajati, qo‘llab-quvvatlash sarflarini ham o‘z zimmalariga olishadi.</p>
                </div>
                <div class="row mt-2">
                    <p>Evaziga esa ularga faqat bir narsa – sizning internetda nimalar qilayotganingiz haqidagi ma’lumot kerak, xolos. Bu ma’lumotdan ular sizning «raqamli portret»ingizni yaratib, reklama beruvchilarga sotishadi. Birato‘la ular sizning qiziqishlaringizga ko‘ra reklama uzatib turishadi. Hammasi oddiy va adolatli.</p>
                </div>
                <div class="row mt-2">
                    <p>Pulli VPN-servislar – umuman boshqa narsa. Nazariy jihatdan qaraganda, ular abonent to‘lovi evaziga yashashadi va foydalanuvchining ma’lumotlarini sotish yoki reklama uchun ishlatishmaydi. Ammo shunisi borki, ularning bu boradagi halolligini aniqlash o‘ta mushkul. Ehtimol, bu ayyor servis sizdan abonent to‘lovini ham olib, yana reklama beruvchilarga ma’lumotlaringizni ham sotayotgan bo‘lishi mumkin.</p>
                </div>
                <div class="row mt-2">
                    <p>Vahimachilarning yana bir toifasi bor – o‘zining shaxsiy hayotini «tepada» kimdir kuzatishi mumkinligidan xavotirlanuvchi oddiy fuqarolar. Ular anonimlikni va kuzatishlardan himoyani yuqori darajada kafolatlovchi VPN xizmatlarini tanlashadi. Muammo shundaki, bunaqa servislarning aksariyati, huquqni himoya qiluvchi idoralarning birinchi so‘rovidayoq foydalanuvchi haqidagi ma’lumotni qo‘shqo‘llab uzatadi.</p>
                </div>
                <div class="row mt-2">
                    <p>Yuqorida ta’kidlaganimizdek, VPN’ni bir nechta yo‘lni o‘zaro bog‘lovchi tunnelga qiyoslash mumkin. Uning ichida nima bo‘layotganini tashqaridan hech kim bilolmaydi, faqat… egasidan boshqa! Ha, uning kuzatuv kameralari tunnelning har bir qarich joyiga o‘rnatilgan. U hammasini ko‘rib turadi va ko‘rganlaridan o‘zi istaganicha foydalanishi mumkin.</p>
                </div>

                <div class="row mt-2">
                    <h4 class="sahifa">Unda VPN nega kerak?</h4>
                </div>
                <div class="row mt-2">
                    <p>Deylik, siz <a href="https://open.spotify.com/">Spotify</a> xizmati orqali musiqa tinglamoqchisiz, ammo bu servisga O‘zbekistondan turib kirib bo‘lmasligini bilib, achinyapsiz. Undan foydalanishning yaxshi yo‘li – internetga Spotify ishlaydigan biror mamlakatdagi VPN-server orqali kirishdir.</p>
                </div>
                <div class="row mt-2">
                    <p>VPN – bu foydali va kerakli texnologiya, u o‘ziga yarasha vazifalarni yaxshi bajaradi. Ammo bunda shaxsiy ma’lumotlaringizning xavfsizligi VPN xizmatini taqdim etuvchining vijdoniga bog‘liq.</p>
                </div>
                <div class="row mt-2">
                    <p>Albatta, sizning e’tiborliligingizga, internet xavfsizligi masalalarini yaxshi tushunishingizga ham.</p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>
                <div class="row mt-2">
                    <p></p>
                </div>





            </div>
        </div>
    </div>
</section>